<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.project }} - {{ page.title }}</title>
	<style type="text/css">@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css);</style>
	<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<style>
		:root {
			--mdc-theme-primary: #212121;
			--mdc-theme-accent: #d50000;
		}
	</style>
</head>
<body class="mdc-typography">
	<header class="mdc-toolbar">
		<div class="mdc-toolbar__row">
			<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
				<button id="drawer-nav-button" class="material-icons mdc-toolbar__icon--menu">menu</button>
				<span class="mdc-toolbar__title">{{ page.project }}</span>
			</section>
		</div>
	</header>
	<aside id="drawer-nav" class="mdc-temporary-drawer">
		<nav class="mdc-temporary-drawer__drawer">
			<header class="mdc-temporary-drawer__header">
				<div class="mdc-temporary-drawer__header-content">
					ZhugeSong.github.io
				</div>
			</header>
			<nav class="mdc-temporary-drawer__content mdc-list">
				<a class="mdc-list-item" href="/">
					<!--<span class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</span>-->Home
				</a>
				<a class="mdc-list-item" href="/about.html">About</a>
				<a class="mdc-list-item" href="/levin/">Project Levin</a>
			</nav>
		</nav>
	</aside>
	<main>
		{{ content }}
	</main>
	<!--<footer class="mdc-toolbar">
		<div class="mdc-toolbar__row">
			<section class="mdc-toolbar__section mdc-toolbar__section--align-center" role="toolbar">
				<a href="https://github.com/ZhugeSong/ZhugeSong.github.io" role="button" class="mdc-button">GitHub</a>
			</section>
			<section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
				<a href="#" class="material-icons mdc-toolbar__icon" aria-label="More" alt="More">more_vert</a>
			</section>
		</div>
	</footer>-->
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script>window.mdc.autoInit();</script>
	<script>
		var drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector("#drawer-nav"));
		document.querySelector("#drawer-nav-button").addEventListener("click", function() { drawer.open = true; });
	</script>
</body>
</html>
